<mat-toolbar color="primary" class="header-toolbar">
  <div class="header-card">
    <div class="header-container">

      <div class="header-left" *ngIf="hideAddButton">
        <button mat-button color="primary" (click)="navigateBack()">
          <mat-icon class="icon">arrow_back</mat-icon>
          <span>Back to Employees</span>
        </button>
        <mat-divider vertical class="divider"></mat-divider>
        <h1 class="title" style="text-transform:capitalize;">Employee</h1>
      </div>

      <!-- Left Section -->
      <div class="header-left" *ngIf="!hideAddButton">
        <div class="logo-box">
          <mat-icon class="logo-icon">groups</mat-icon>
        </div>
        <h1 class="title">Employee Portal</h1>
      </div>

      <!-- Right Section -->
      <div class="header-right">
        <button
          *ngIf="!hideAddButton"
          matButton="filled"
          color="primary"
          (click)="handleAddEmployee()"
        >
          <mat-icon>add</mat-icon>
          <span class="hide-sm">Add Employee</span>
        </button>

        <button matButton color="accent" (click)="handleLogout()">
          <mat-icon>logout</mat-icon>
          <span class="hide-sm">Logout</span>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
