.grid {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
}

.list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}